body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    max-width: 100%;
    margin: 0;
    padding: 0;
}


/* Começo aside Sesi */

#asideSesi{
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoSesi{
    display: flex;
    justify-content: center;
    cursor: pointer;
}




/* input pesquisa */
#formPesquisa{
    display: flex;   
    border: 2px solid #E5383B;
    border-radius: 35px;
    padding: 1.5%;
    align-items: center;
    margin: 10px 0 20px 0;
}

#iconSearch{
    background-color: #E5383B;
    padding: 5px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

#inputPesquisa{
    border: none;
    outline: none;
    font-size: 15px;
    margin: 0 10px 0 10px;
}
/* fim input pesquisa */




/* box icons */
#aside_BoxIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#boxIcon{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#boxIcon:hover{
    background-color: #D3D3D3;
}

.titleBoxIcon{
    font-size: 18px;
    color: #E5383B;
}

.imgIcon{
    margin-right: 18px;
}
/* fim box icons */



/* input container */
.input-container {
    margin-top: 25px;
    display: inline-block;
    position: relative; /* necessário para o posicionamento do dropdown */
  }
  
  .custom-input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #6e6e6e;
    background-color: white;
    border: 1px solid #f44336;
    border-radius: 5px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    min-width: 200px;
    justify-content: space-between;
  }
  
  .custom-input .arrow {
    font-size: 12px;
    margin-left: 10px;
    color: #6e6e6e;
  }
  
  .dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f44336;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 100%; /* faz o dropdown aparecer logo abaixo do botão */
    left: 0;
    width: 100%;
    display: none; /* inicialmente escondido */
    z-index: 1;
  }
  
  .dropdown li {
    padding: 8px 10px;
    color: #6e6e6e;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #D3D3D3;
  }
/* fim input container */



/* linha vertical */
.linha-vertical {
    width: 3px;
    background-color: #ccc;
    height: 97vh;
  }
/* fim linha vertical */


/* Sair */
#sair{
    display: flex;
    align-items: center;
    background-color: #E5383B;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 10px;
    margin-top: 20px;
    cursor: pointer;
}

#iconExit{
    margin-right: 8px;
}
/* fim Sair */


/* começo conteudo da Main */
#Conteudo {
  width: 45%;
  margin: 3% 5%;
  
}

#title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  max-height: 480px;
}

#statsRow {
  color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 1;
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 16px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e7e6e6;
}

/* fim conteudo da Main */


/* botoes Switch */
/* From Uiverse.io by namecho */ 
.switch {
  cursor: pointer;
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #b4b4b4;
  --color-green: #3bee2a;
 }
 
 .slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
 }
 
 .slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
 }
 
 .switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
 }
 
 .switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 }
 
 .switch input[type="checkbox"] {
  display: none;
 }
 
 .switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
 }
 
 .switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
 }
 /* fim botoes Switch */




/* Calendário */
#asideCalendario {
  width: 21%;
  margin-left: 1.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendario {
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap; 

}

.day, .day-header {
  width: calc(100% / 7); 
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
}

.day {
  border: 1px solid #ddd;
  cursor: pointer;
}

.day.selected {
  background-color: #E5383B;
  color: white;
}

#calendar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 5%;
  
}

#prev-month, #next-month {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

#prev-month:hover, #next-month:hover {
  color: #007BFF;
}

/* fim Calendário */



 /* botoes salvar e selecionar tudo */
#sectionBtnVermelhos{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 85%;
}

#btnSave, #btnSelectionAll{
  cursor: pointer;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #E5383B;
  border: none;
  color: white;
  font-size: 9px;
  border-radius: 12px;
  padding: 6px 20px;
}

.material-symbols-outlined, #btnSelectionAll .switch{
  margin-right: 10px;
}
/* fim dos botoes salvar e selecionar tudo */
