body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
}

#asideSesi{
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoSesi{
    display: flex;
    justify-content: center;
}
/* input pesquisa */
#formPesquisa{
    display: flex;   
    border: 2px solid #E5383B;
    border-radius: 35px;
    padding: 1.5%;
    align-items: center;
    margin: 10px 0 10px 0;
}

.material-icons{
    background-color: #E5383B;
    padding: 5px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

#inputPesquisa{
    border: none;
    outline: none;
    font-size: 15px;
    margin: 0 10px 0 10px;
}
/* fim input pesquisa */


/* box icons */
#aside_BoxIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#boxIcon{
    display: flex;
    align-items: center;   

}

.titleBoxIcon{
    font-size: 20px;
    color: #E5383B;
}

.imgIcon{
    margin-right: 18px;
}
/* fim box icons */


/* linha vertical */
.linha-vertical {
    width: 2px;
    background-color: #ccc;
    height: 97vh;
  }